
.login-form{
    
    height:500px;
    margin: 150px 20px 0px 20px;
  
}
.ant-input-affix-wrapper.css-dev-only-do-not-override-qgg3xn{
  
font-size: 20px;
}
.SS{

    height: 500px;
    border-radius: 15px 0px 0px 15px;
    background-image: url('https://as1.ftcdn.net/v2/jpg/02/24/86/92/1000_F_224869243_WZHOVD3GqYq6ZUzRkZbQNTXzg1FzHwhd.jpg');
    background-size: cover; /* ปรับขนาดรูปภาพให้เต็มพื้นที่ */
    background-position: center; /* จัดตำแหน่งรูปภาพให้อยู่ตรงกลาง */
    
}
.BB{
    background-color: rgb(252, 250, 250);
    margin: 200px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px grey;

}
.ALL {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #c8daff;
  }

 